---
import '../styles/estilos.css';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRUPOAQUA | Ingeniería en el manejo del agua | Colombia</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="img/GrupoAqua_Logo.avif" alt="GRUPOAQUA Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#" class="active">Inicio</a></li>
                    <li><a href="#">Aguas</a></li>
                    <li><a href="#">Acuicultura</a></li>
                    <li><a href="#">Filtros</a></li>
                    <li><a href="#">Soporte</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Proyectos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="bubbles">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
        
        <div class="hero-content">
            <div class="hero-logo">
                <img src="img/GrupoAqua_Logo.avif" alt="GRUPOAQUA Logo">
            </div>
            
            <h2>Ingeniería y Sistemas para el Manejo del AGUA</h2>
            
            <div class="hero-description">
                <p>
                    Somos una empresa dedicada a brindar soluciones integrales en el manejo eficiente del agua, desde la etapa de 
                    diagnóstico y asesoría, diseño de soluciones a la medida y servicios complementario de mantenimiento y seguimiento. 
                    GRUPOAQUA busca generar un uso eficiente del agua y disminuir el impacto ambiental producido por las diferentes 
                    actividades del hombre, mediante el desarrollo de sistemas de tratamiento de aguas y la implementación de equipos en 
                    acuicultura.
                </p>
            </div>
            
            <a href="#" class="cta-button">Ver más</a>
        </div>
    </section>
    <section class="specialists">
        <div class="specialists-container">
            <div class="specialists-text">
                <h2>Somos <br> Especialistas en:</h2>
                <ul>
                    <li>Sistemas de Tratamiento de Aguas Domésticas e Industriales.</li>
                    <li>Sistemas de Potabilización de Agua.</li>
                    <li>Aprovechamiento de Aguas Lluvias y Aguas Grises.</li>
                    <li>Re - uso del agua.</li>
                    <li>Sistemas de Aireación para el Sector de la Acuicultura.</li>
                    <li>Servicios y Consultorías Ambientales.</li>
                </ul>
            </div>
            <div class="specialists-carousel">
                <div class="carousel-container">
                    <div class="carousel-slide active">
                        <!-- Imagen 1 -->
                        <img src="img/carrusel.1.avif" alt="Imagen 1">
                        <div class="carousel-caption">
                        Planta de Tratamiento Industrial
                        <!-- <span>PTARD - Uso Doméstico</span> -->
                    </div>
                    </div>
                    <div class="carousel-slide">
                        <!-- Imagen 2 -->
                        <img src="img/carrusel.2.avif" alt="Imagen 2">
                        <div class="carousel-caption">
                            Plantas de Tratamiento de Aguas
                            <span>PTARD - Uso Doméstico</span>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <!-- Imagen 3 -->
                        <img src="img/carrusel.3.avif" alt="Imagen 3">
                        <div class="carousel-caption">
                            Acuicultura
                            <span>Aireador Sprint</span>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 4">
                        <div class="carousel-caption">Descripción de la Imagen 4</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 5">
                        <div class="carousel-caption">Descripción de la Imagen 5</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 6">
                        <div class="carousel-caption">Descripción de la Imagen 6</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 7">
                        <div class="carousel-caption">Descripción de la Imagen 7</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 8">
                        <div class="carousel-caption">Descripción de la Imagen 8</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 9">
                        <div class="carousel-caption">Descripción de la Imagen 9</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 10">
                        <div class="carousel-caption">Descripción de la Imagen 10</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 11">
                        <div class="carousel-caption">Descripción de la Imagen 11</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 12">
                        <div class="carousel-caption">Descripción de la Imagen 12</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 13">
                        <div class="carousel-caption">Descripción de la Imagen 13</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 14">
                        <div class="carousel-caption">Descripción de la Imagen 14</div>
                    </div>
                    <div class="carousel-slide">
                        <img src="img/GrupoAqua_Logo.avif" alt="Imagen 15">
                        <div class="carousel-caption">Descripción de la Imagen 15</div>
                    </div>
                    <button class="carousel-btn prev">&#10094;</button>
                    <button class="carousel-btn next">&#10095;</button>
                    <div class="slide-counter"></div>
                </div>
            </div>
        </div>
    </section>

    <script>
        import "../scripts/script.js";
    </script>
</body>
</html>
