---
import "../styles/style.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GRUPOAQUA | Ingeniería en el manejo del agua | Colombia</title>
    <link rel="icon" type="image/avif" href="/img/Fabicon.avif" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="logo">
          <img src="img/GrupoAqua_Logo.avif" alt="GRUPOAQUA Logo" />
        </div>
        <nav>
          <ul>
            <li><a href="#" class="active">Inicio</a></li>
            <li class="dropdown">
              <a href="#" class="dropbtn">Aguas</a>
              <div class="dropdown-content">
                <a href="/tda">Tratamientos de Agua</a>
                <a href="#">Consultoría</a>
                <a href="#">Almacenamiento y Bombeo</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="/acu" class="dropbtn">Acuicultura</a>
              <div class="dropdown-content">
                <a href="#">Circuladores</a>
                <a href="#">Aireadores</a>
              </div>
            </li>
            <li><a href="https://5micras.com/">Filtros</a></li>
            <li><a href="/stp">Soporte</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Proyectos</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
